@page "UserProfile"
@model CS10_Project_Fisketorvet_V1.Pages.LoggedInUser.UserProfileModel
@{
    ViewData["Title"] = "UserProfile";
}

<div class="container">
    @{Models.Customer user = Models.Customer.Search(LoggedInUser.CurrentUser.User[0]);}


    <div class="row pt-3">
        <div class="col col-sm-3 text-center">
            <img src="/images/user_male.jpg" alt="ProfilePicture" style="max-height: 90%; max-width: 90%;">
            <div class="row pt-4 justify-content-center">
                <div  style="width: 50%">
                    <ul class="list-unstyled">
                        <li class="my-2">
                            <a class="btn btn-secondary w-100" asp-page="OrderHistory">Order history</a>
                        </li>
                        <li class="my-2">
                            <a class="btn btn-secondary w-100" asp-page="/Customer/EditCustomer" asp-route-id="@LoggedInUser.CurrentUser.User[0]">Edit Profile</a>
                        </li>
                        <li class="my-4">
                            <a class="btn btn-outline-dark w-100" asp-page="/LoggedInUser/LogOut">Log Out</a>
                        </li>
                    </ul>



                </div>
            </div>

        </div>
        <div class="col">
            <h5>Hi, @user.FirstName! Welcome to your profile!</h5>
            <table class="table table-borderless table-sm">


                <tbody>
                <tr class="table-light border-bottom p-0">
                    <td style="width: 40%" class="p-0">
                        <h6 class="pt-2 pl-2">Personal data</h6>
                    </td>
                    <td class="text-right" style="width: 60%">
                        <a class="text-dark font-weight-light mr-2" asp-page="/Customer/EditCustomer" asp-route-id="@LoggedInUser.CurrentUser.User[0]">Edit Profile</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        Name:
                    </td>
                    <td>@user.FirstName @user.LastName</td>
                </tr>
                <tr>
                    <td>
                        Address:
                    </td>
                    <td>Street and housenumber<br/>ZIP City</td>
                </tr>
                <tr >
                    <td>
                        Gender:
                    </td>
                    <td>@user.CustomerGender</td>
                </tr>
                <tr><td><br/></td></tr>

                @{
                    if (LoggedInUser.CurrentUser.User[1] == 1)
                    {

                        <tr class="border-bottom">
                            <td style="width: 33%">Status:</td>
                            <td style="width: 67%">
                                @Models.Admin.Search(LoggedInUser.CurrentUser.User[0]).Access
                            </td>
                        </tr>
                    }
                }

                <tr class="table-light table p-0 border-bottom">
                    <td class="p-0"><h6 class="pt-2 pl-2">Payment methods:</h6></td>
                    <td class="text-right">
                        @{
                            if (LoggedInUser.CurrentUser.HasBankAccount)
                            {
                                <a class="text-dark font-weight-light mr-2" asp-page="/Payment/RemoveBankAccount">Remove your bank account</a>
                            }
                            else
                            {
                                <a class="text-dark font-weight-light mr-2" asp-page="/Payment/AddBankAccount" asp-route-returnpage="/LoggedInUser/UserProfile">Add a bank account</a>
                            }
                        }
                    </td>
                </tr>
                <tr>
                    @{
                        if (LoggedInUser.CurrentUser.HasBankAccount)
                        {
                            <td class="py-2">You have linked one bank account:<br/>
                               
                            </td>
                            <td class="py-2">
                                <ul class="list-unstyled">
                                    <li>@user.Account.BankName</li>
                                    <li>Current balance: @user.Account.Balance</li>
                                </ul>
                            </td>
                        }
                        else
                        {
                            <td class="py-2">You don't have a linked bank account</td>
                        }
                    }
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

