@page "Basket"
@model CS10_Project_Fisketorvet_V1.Pages.BasketModel
@{
    ViewData["Title"] = "Shopping Cart";
}


@{
    if (LoggedInUser.CurrentUser.Exists && LoggedInUser.CurrentUser.HasBasket)
    {
        <div class="container">
            <div class="row">
                <table class="table col-12">
                    <tbody>
                        @foreach (int[] i in Models.Basket.Catalog[Models.Customer.Catalog[LoggedInUser.CurrentUser.User[0]].BasketID].Items)
                        {
                            Models.Product item = Models.Product.GetProduct(i[0], Models.Product.ProductCatalog);
                        <tr>
                            <td>@item.ImagePath</td>
                            <td>@item.ProductName</td>
                            <td>@item.ProductPrice kr</td>
                            <td>
                                <div class="form-inline">
                                    <div>
                                        <form method="post">
                                            <input type="submit" value="-" class="btn btn-dark" asp-page-handler="minus" asp-route-p="@item.ProductId" />
                                        </form>
                                    </div>
                                    <div class="ml-1 mr-1">@i[1]</div>
                                    <div>
                                        <form method="post">
                                            <input type="submit" value="+" class="btn btn-dark" asp-page-handler="plus" asp-route-p="@item.ProductId" />
                                        </form>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <form method="post">
                                    <input type="submit" value="X" class="btn btn-danger" asp-page-handler="remove" asp-route-p="@item.ProductId"/>
                                </form>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
             </div>
            <div class="row">
                <div>
                    Total price:
                    <br />
                    @BasketModel.CalculateItemsTotalPrice() kr
                </div>
            </div>
        </div>
        ;
    }
    else if (LoggedInUser.CurrentUser.Exists)
    {
        <div>
            You do not have any items in your basket
        </div>
    }
    else
    {
        <div>
            You must be logged in to view your basket
        </div>
    }
}