@page "{prodId}"
@model CS10_Project_Fisketorvet_V1.Pages.Stores.DeleteProductModel
@{
}

<div class="container">
    <div class="row justify-content-sm-center py-3">
        <h5 class="text-danger">You are about to delete the following product from your store.</h5>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-8">

            <div class="row justify-content-left border border-danger p-2">
                <div class="col-auto">
                    <img src="/images/@Model.Product.ImagePath" style="max-height: 110px;"/>
                </div>
                <div class="col">
                    <div class="row justify-content-between">
                        <div class="col">
                            <h5>@Model.Product.ProductName</h5>
                        </div>
                        <div class="col text-right">
                            <h5>@Model.Product.ProductPrice kr.</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>@Model.Product.ProductDescription</p>
                        </div>
                    </div>
                </div>
            </div>

            <form method="post" class="form-group pt-3">
                <input asp-for="@Model.Product.StoreID" type="hidden"/>
                <input asp-for="@Model.Product.ProductId" type="hidden"/>

                <div class="row">
                    <div class="col">
                        <input type="submit" value="Delete product" class="btn btn-danger btn-sm"/>
                        <a asp-page="StoreProductAdmin" asp-route-storeId="@Model.StoreId" class="btn btn-outline-secondary btn-sm">Return to product overview</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
