@page 
@model CS10_Project_Fisketorvet_V1.Pages.Stores.ShowStoreModel
@{
    ViewData["Title"] = $"{Model.Store.Name}";
}

<div class="container">
    <h5>Welcome to @Model.Store.Name</h5>
    <hr />
    <div class="row">
        @foreach (var p in Model.Products)
        {
            <div class="col col-sm-4 col-md-3">
                <div class="card" >
                    <div class="card-body py-1 px-2">
                        <h6 class="card-title mb-2">@p.ProductName</h6>
                        <div class="d-flex justify-content-center my-2">
                            <img src="/images/@p.ImagePath" class="w-75" />
                        </div>
                        <p class="card-text mb-2">@p.ProductDescription</p>
                        <ul class="m-0 p-1">
                            <li class="row justify-content-start m-0">
                                <p style="text-align: right">@p.ProductPrice kr.</p>
                            </li>
                            <li class="row justify-content-end m-0">
                                @{
                                    if (LoggedInUser.CurrentUser.Exists)
                                    {
                                        <form  method="post">
                                            <input type="submit" class="btn btn-primary" asp-page-handler="add" asp-route-p="@p.ProductId" value="Add to basket" />
                                        </form>
                                    }
                                    else
                                    {
                                        <form method="post">
                                            <input type="submit" class="btn btn-primary" asp-route-p="@p.ProductId" value="Add to basket" />
                                            @{ if (p.ProductId == ShowStoreModel.checkedproductid)
                                               {
                                                 <span asp-validation-for="@Model.NonExistentUser" class="text-danger"></span>;
                                               }
                                            }
                                        </form>
                                    }
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="bg-warning border-danger">
        <p>
            This button should not be seen for visitors, only for store administrator<br />
            It is here for testing purposes
            <a asp-page="StoreProductAdmin" asp-route-storeId="@Model.Store.Id" class="btn btn-primary">Store admin</a>
        </p>
    </div>

</div>
