@page 
@using Microsoft.Extensions.FileSystemGlobbing.Internal.PathSegments
@using CS10_Project_Fisketorvet_V1.Pages.LoggedInUser
@model CS10_Project_Fisketorvet_V1.Pages.Stores.ShowStoreModel
@{
    ViewData["Title"] = $"{Model.Store.Name}";
}

<div class="container">
    <div class="row pb-3">
        <div class="col px-2" >
            <a asp-page="Stores" class="text-dark font-weight-normal"><span class="iconify pb-1" data-icon="ic:baseline-arrow-back-ios-new" data-inline="false"></span>Back to stores</a>
        </div>
        <div class="col text-right">
            @if (CurrentUser.User[1] == 1)
            {
                <a asp-page="StoreProductAdmin" asp-route-storeId="@Model.Store.Id" class="btn btn-dark">Product administration</a>
            }
        </div>

    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <h5>Welcome to @Model.Store.Name</h5>
        </div>
        <div class="col-md-7">
            <p>@Model.Store.Description</p>
        </div>
        <div class="col-sm-2 text-center">
            <img src="~/images/@Model.Store.ImageName" style="max-height: 110px"/>
        </div>
    </div>

    <hr/>
    <div class="row">
        @foreach (var p in Model.Products)
        {
            <div class="col col-sm-4 col-md-3">
                <div class="card card-product">
                    <div class="card-body py-1 px-2">
                        <h6 class="card-title mb-2 text-center">@p.ProductName</h6>
                        <div class="d-flex justify-content-center my-2">
                            <img src="/images/@p.ImagePath" style="max-height: 110px;"/>
                        </div>
                        <p class="card-text font-weight-light mb-2">
                            @if (!string.IsNullOrEmpty(p.ProductDescription))
                            {
                                @p.ProductDescription
                            }
                            else
                            {
                                <span>&nbsp;
                                </span>
                            }
                            
                        </p>
                        <ul class="m-0 p-1">
                            <li class="row justify-content-start m-0 pb-0">
                                <p style="text-align: right" class="mb-0">@p.ProductPrice kr.</p>
                            </li>
                            <li class="row justify-content-end m-0 p-0">
                                @{
                                    if (LoggedInUser.CurrentUser.Exists)
                                    {
                                        <form method="post">
                                            @*<input type="submit" class="btn border-0" asp-page-handler="add" asp-route-p="@p.ProductId" value="Add to basket"/>*@
                                            <button type="submit" class="btn btn-lg border-0 p-0 mb-2 mr-3" asp-page-handler="add" asp-route-p="@p.ProductId"><span class="iconify" data-icon="emojione-monotone:shopping-cart" data-inline="false"></span></button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form method="post">
                                            @*<span class="iconify" data-icon="emojione-monotone:shopping-cart" data-inline="false"></span>
                                                <input type="submit" class="btn border-0" asp-route-p="@p.ProductId" value="Add to basket" />*@
                                            <button type="submit" class="btn btn-lg border-0 p-0 mb-2 mr-3" asp-route-p="@p.ProductId"><span class="iconify" data-icon="emojione-monotone:shopping-cart" data-inline="false"></span></button>
                                            @{
                                                if (p.ProductId == ShowStoreModel.checkedproductid)
                                                {
                                                    <span asp-validation-for="@Model.NonExistentUser" class="text-danger"></span>;
                                                }
                                            }
                                        </form>
                                    }
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>



</div>
