@page
@model CS10_Project_Fisketorvet_V1.Pages.Stores.ShowStoreModel
@{
    ViewData["Title"] = $"{Model.Store.Name}";
}

<div class="container">
    <h5>Welcome to @Model.Store.Name</h5>
    <hr />
    <div class="row">
        @foreach (var p in Model.Products)
        {
            <div class="col col-sm-4 col-md-3">
                <div class="card" >
                    <div class="card-body">
                        <h5 class="card-title">@p.ProductName</h5>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <div class="d-flex justify-content-center my-4">
                            <img src="/images/@p.ImagePath" class="w-75" />

                        </div>

                        <p class="card-text">@p.ProductDescription</p>
                        <p style="text-align: right">@p.ProductPrice kr.</p>
                        <a href="#" class="card-link">Add to basket</a>
                    </div>
                </div>
            </div>
        }

    </div>


        <a asp-page="StoreProductAdmin" asp-route-storeId="@Model.Store.Id" class="btn btn-primary">Store admin</a>

</div>
